.cssClass {
    height: 31px;
    display: block;
}

.cssClass ul li {
    width: 50%;
    float: left;
}

.cssClass ul.menu li a {
    border-bottom: none;
    color: #fff;
    text-transform: none;
}

.cssClass ul.menu li.current a {
    background-color: #4C97CC;
    text-transform: uppercase;
}
