.cssClass.gt350 {
    .kwcForm {
        margin: auto;
        width: 351px;
    }

    .loginInput.kwfField {
        .kwfFormFieldWrapper {
            display: block;
        }
    }
}

.cssClass {
    margin-bottom: 25px;

    .loginInput.kwfField {
        clear: none;
        margin-bottom: 0px;
        padding-top: 10px;

        label {
            float: none;
            line-height: 30px;
        }

        .kwfFormFieldWrapper.hasLabel {
            margin-left: 0px;
            padding-left: 0px;

            input.loginInput {
                float: none;
                width: 100%;
                max-width: 100%;
                height: 50px;
                font-size: 20px;
                border-style: solid;
                border-color: #DDDDDD;
                border-width: 1px;
            }
        }
    }

    .form_auto_login.kwfField {
        label {
            float: left;
            margin-right: 5px;
        }
    }

    .submitWrapper.kwfButtonFlat {
        margin: auto;
        width: 50%;
        padding-top: 20px;

        .afterButton {
            width: 0px;
        }

        .beforeButton {
            width: 0px;
        }

        .button
        {
            background-color: #085AC0;
            background-image: none;
            height: 40px;
            width: 100%;
            button {
                width: 100%;
                height: 100%;
                span {
                    font-size: 20px;
                }
            }
        }

        .button:hover {
            button {
                background-color: #0046AC;
                span {
                    color: #ffffff;
                }
            }
        }
    }
}
