@import "kwc-susy/master-layout-helper";
@import "config/colors";

@include set-master-layout(default);

html .kwcClass {
    max-width: 360px;
    margin: auto;

    .kwfUp-kwfField {
        font-size: 20px;
    }
}
