.cssClass {
    padding: 20px;
    ul li {
        min-height: 100px;
        padding-left: 5px;
        margin-bottom: 20px;
        position: relative;
        &.speaker {
            list-style-type: none;
            .name {
                float: left;
                margin-right: 3px;
            }
            .degree {
                float: left;
                color: #999999;
            }
            .congregation {
                clear: left;
            }
            table.talks tr td {
                vertical-align: top;
                padding-right: 3px;
                margin-bottom: 3px;
            }
        }
        .switchContent {
            position: absolute;
            top: 90px;
            background-color: wheat;
            box-shadow: 1px 1px 1px black;
            padding: 5px;
        }
    }
    &.gt350 ul li {
        width: 49%;
        float: left;
    }
}
