.kwcClass {
    width: 100%;
}
.kwcClass .problemSolvingRegion {
    display: table;
    margin: auto;
}

.kwfUp-frontend.login #page #outerHeader #header .leftRegion {
    width: auto;
    float: none;
}
.kwfUp-frontend.login #page #outerHeader #header .leftRegion #logo {
    margin: auto;
    float: none;
    width: 123px;
    height: 123px;
    font-size: 33px;
}

.kwfUp-frontend.login #page #outerHeader #header .leftRegion #logo .domain {
    padding-top: 26px;
}
.kwfUp-frontend.login #page #outerHeader #header .leftRegion #logo .tld {
    line-height: 20px;
}
.kwcForm.default > div.kwcForm > form .form_auto_login .kwfFormFieldWrapper > input {
    width: 15px !important;
    margin-top: 4px;
}
