.cssClass {
    width: 100%;
}

.frontend.login #page #outerHeader #header .leftRegion {
    width: auto;
    float: none;
}
.frontend.login #page #outerHeader #header .leftRegion #logo {
    margin: auto;
    float: none;
    width: 123px;
    height: 123px;
    font-size: 33px;
}

.frontend.login #page #outerHeader #header .leftRegion #logo .domain {
    padding-top: 26px;
}
.frontend.login #page #outerHeader #header .leftRegion #logo .tld {
    line-height: 20px;
}
