@import "kwc-susy/master-layout-helper";
@import "config/colors";

@include set-master-layout(default);

.kwcClass {
    .kwfUp-header {
        padding-top: 30px;
        display: table;
        margin: auto;
    }
}