@import "kwc-susy/master-layout-helper";
@import "config/colors";

@include set-master-layout(default);

.kwcClass {
    overflow: auto;
    height: 0px;
    -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
    max-height: 100vh;

    ul.menu {
        padding: 0px;
        position: relative;
        > li {
            border-top-color: #186ad0;
            border-top-style: solid;
            border-top-width: 2px;
        }
        li {
            a, p {
                height: 100%;
                display: block;
                color: #fff;
                font-size: 18px;
                padding: 10px;
            }
            p {
                margin-bottom: 0px;
            }
            ul.subMenu {
                li {
                    a, p {
                        font-size: 15px;
                        padding-left: 25px;
                    }
                    &.last {
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }
}
.kwcClass {
    @include kwf-breakpoint(md) {
        height: auto;
        ul.menu {
            display: table;
            width: 100%;
            padding-left: 0px;
            > li {
                display: table-cell;
                border-left-color: #186ad0;
                border-left-style: solid;
                border-left-width: 2px;
                a, p {
                    border-bottom-color: #186ad0;
                    border-bottom-style: solid;
                    border-bottom-width: 2px;
                    padding-left: 10px;
                    padding-right: 0px;
                }
                &.first {
                    border-left: none;
                }
                &.hover {
                    background-color: #186ad0;
                }
                ul.subMenu {
                    display: none;
                    table-layout: fixed;
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    > li {
                        display: table-cell;
                        width: 2%;
                        text-align: center;
                        border-left-color: #186ad0;
                        border-left-style: solid;
                        border-left-width: 2px;
                        a {
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                        &.first {
                            border-left: none;
                        }
                    }
                }
            }
        }
    }
}
.kwcClass {
    @include kwf-breakpoint(md) {
        ul.menu {
            table-layout: fixed;
            > li {
                width: 2%;
                text-align: center;
                a {
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
    }
}
