.cssClass ul.menu li a {
    height: 30px;
    line-height: 30px;
    display: block;
    background-color: #085AC0;
    font-weight: bold;
    margin: 0px 0px 1px 1px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
}

.cssClass ul.menu li.current a {
    margin-bottom: 0px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    background-color: #4C97CC;
    color: #fff;
}

.cssClass.gt550 ul.menu li {
    width: 25%;
    float: left;
}
.cssClass.gt550 ul.menu li.current .menuMainSub {
    display: none;
}
