@import "kwc-susy/master-layout-helper";
@import "config/colors";

@include set-master-layout(default);

.kwcClass {
    overflow: auto;
    max-height: 0;
    -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;

    ul.menu {
        margin: 0px;
        padding: 0px;
        position: relative;
        > li.kwcClass__item {
            &--first {
                border-top-width: 0px;
            }
            border-top-color: #186ad0;
            border-top-style: solid;
            border-top-width: 2px;
            list-style-type: none;
        }
        li {
            a, span {
                height: 100%;
                display: block;
                color: #fff;
                font-size: 18px;
                padding: 10px;
                cursor: pointer;
            }
            ul.subMenu {
                margin: 0px;
                padding: 0px;
                li {
                    list-style-type: none;
                    a, span {
                        font-size: 15px;
                        padding-left: 25px;
                        border-bottom-style: none;
                    }
                    &--last {
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }
}
.kwcClass {
    @include kwf-breakpoint(md) {
        overflow: hidden;
        max-height: none;
        height: 41px;
        ul.menu {
            display: table;
            width: 100%;
            padding-left: 0px;
            > li.kwcClass__item {
                display: table-cell;
                border-left-color: #186ad0;
                border-left-style: solid;
                border-left-width: 2px;

                a, span {
                    border-bottom-color: #186ad0;
                    border-bottom-style: solid;
                    border-bottom-width: 2px;
                    padding-left: 10px;
                    padding-right: 0px;
                }
                &--first {
                    border-top-width: 2px;
                    border-left: none;
                }
                &.hover {
                    background-color: #186ad0;
                }
                ul.subMenu {
                    display: none;
                    table-layout: fixed;
                    position: absolute;
                    left: 0px;
                    padding-left: 0px;
                    width: 100%;
                    > li {
                        display: table-cell;
                        width: 2%;
                        text-align: center;
                        border-left-color: #186ad0;
                        border-left-style: solid;
                        border-left-width: 2px;
                        a {
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                        &--first {
                            border-left: none;
                        }
                        &--last {
                            padding-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}
.kwcClass {
    @include kwf-breakpoint(md) {
        ul.menu {
            table-layout: fixed;
            > li {
                width: 2%;
                text-align: center;
                a {
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
    }
}
