<!DOCTYPE html>
<html lang="{{ pageLanguage }}">
    <head>
        {{ includeCode('header') }}
    </head>
    <body class="{{ rootElementClass }}">
        {{ includeCode('footer') }}
    </body>
</html>
