@import "kwc-susy/master-layout-helper";
@import "form/default-styles";
@import "config/colors";
@import "kwf/css3/border-radius";
@import "float-label";

@include set-master-layout(default);

body {
    margin: 0;
    padding: 0;
}

.kwfUp-webStandard { font-family: sans-serif; font-size: 14px; color: $typo; }
.kwfUp-webStandard strong { font-weight: bold; }
.kwfUp-webStandard em { font-style: italic; }

.kwfUp-webStandard p { line-height: 18px; color: $typo; margin-bottom: 10px; }

.kwfUp-webStandard h1 { font-size: 25px; margin-bottom: 10px; color: $mainColor; } /*! Überschrift 1 */
.kwfUp-webStandard h2 { font-size: 20px; margin-bottom: 10px; color: $mainColor; } /*! Überschrift 2 */
.kwfUp-webStandard h3 { font-size: 14px; margin-bottom: 5px; } /*! Überschrift 3 */

.kwfUp-webStandard a { text-decoration: none; color: $mainColor; outline: none; }
.kwfUp-webStandard a:hover { text-decoration: none; color: $secColor; }
.kwfUp-webStandard a:link { text-decoration: none; }

.kwfUp-webStandard ol,
.kwfUp-webStandard ul { margin-bottom: 10px; margin-left: 20px; }
.kwfUp-webStandard li { list-style-type: square; margin-bottom: 5px; line-height: 18px; color: $typo; }

/* Styling page-like design */
html body.kwfUp-frontend {
    background-color: #dedede;
}

html .kwfUp-frontend .kwfUp-pageWrapper {
    @include kwf-breakpoint(lg) {
        padding-bottom: 20px;
    }
}

.kwfUp-frontend .kwfUp-page {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    @include border-radius-pie(0px);
}
.kwfUp-frontend .kwfUp-pageWrapper .kwfUp-page {
    @include kwf-breakpoint(md) {
        width: 95%;
        margin: auto;
        margin-bottom: 20px;
        overflow: hidden;
        box-shadow: 0px 3px 3px #888;
        padding-bottom: 20px;
    }
    @include kwf-breakpoint(lg) {
        width: 80%;
    }
} /*! end styling page-like design */

.kwfUp-page .kwfUp-outerContent .kwfUp-content .kwfUp-innerContent {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.kwfUp-webForm .kwfUp-kwfField {
    margin-bottom: 15px;
}
.kwfUp-webForm input,
.kwfUp-webForm textarea,
.kwfUp-webForm select {
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    box-sizing: border-box;
}

.kwfUp-webForm button {
    color: $light;
    display: table;
    margin: auto;
    margin-top: 20px;
    line-height: 30px;
    padding: 5px 20px;
    font-size: 20px;
    background-color: #085AC0;
    /* disable user-agent styling */
    border: none;

    &:hover {
        background-color: #0046AC;
    }
}

// float-label Styling. Copy because include scss from npm does not work with kwf
.has-float-label {
    @include float-label-container;

    @include float-label;

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    textarea {
        width: 100%;
    }

    input, select, textarea {
        @include float-label-input;
        font-size: inherit;
        padding-top: 1em;
        margin-bottom: 2px;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid rgba(0,0,0,.1);

        @include float-label-scaled {
            top: 25%;
        }

        &:focus {
            outline: none;
            border-color: rgba(0,0,0,.5);
        }
    }

    select {
        padding-right: 1em;
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .5em bottom .25em;
        background-size: 8px 10px;
    }
}

// Styling autocomplete in chrome
// https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    //-webkit-text-fill-color: #085AC0;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
