@import "kwf/css3/border-radius";

.webStandard { font-family: Helvetica, Arial, Verdana, Geneva, sans-serif; font-size: 13px; color: var(typo); }
.webStandard strong { font-weight: bold; }
.webStandard em { font-style: italic; }

.webStandard p { line-height: 18px; color: var(typo); margin-bottom: 10px; }

.webStandard h1 { font-size: 25px; margin-bottom: 10px; color: var(mainColor); } /* Überschrift 1 */
.webStandard h2 { font-size: 20px; margin-bottom: 10px; color: var(mainColor); } /* Überschrift 2 */
.webStandard h3 { font-size: 14px; margin-bottom: 5px; } /* Überschrift 3 */

.webStandard a { text-decoration: none; color: var(mainColor); outline: none; }
.webStandard a:hover { text-decoration: none; color: var(secColor); }
.webStandard a:link { text-decoration: none; }

.webStandard ol,
.webStandard ul { margin-bottom: 10px; margin-left: 20px; }
.webStandard li { list-style-type: square; margin-bottom: 5px; line-height: 18px; color: var(typo); }


html {
    background-image: url('/assets/web/images/background.jpg');
    background-color: black;
}

.frontend .pageWrapper.gt1000 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
}
.frontend .pageWrapper {
    background-image: none;
    background-color: white;
}

.frontend #page {
    width: 100%;
    margin: 0;
    padding: 0;
    @include border-radius-pie(0px);
}
.frontend .pageWrapper.gt1000 #page {
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    @include border-radius-pie(3px);
    overflow: hidden;
}

#page #outerHeader #header .leftRegion {
    width: 123px;
    float: left;
}
#page #outerHeader #header .leftRegion .logout {
    background-color: #F17F08;
    line-height: 30px;
    text-align: center;
    width: 123px;
    display: block;
    height: 30px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    float:left;
    margin-top: 1px;
}
#page #outerHeader #header .leftRegion #logo {
    float: left;
    background-repeat: no-repeat;
    background-color: #085AC0;
    width: 123px;
    height: 123px;
    font-family: Helvetica, Arial;
    text-align: center;
    font-size: 33px;

    .domain {
        padding-top: 26px;
        color: white;
        font-weight: bolder;
    }
    .tld {
        color: white;
        font-weight: lighter;
        line-height: 20px;
    }
}
.frontend .pageWrapper.gt673 #page #outerHeader #header .leftRegion #logo {
    height: 61px;
    font-size: 20px;

    .domain {
        padding-top: 10px;
    }
    .tld {
        line-height: 8px;
    }
}

#page #outerHeader #header .menues {
    margin-left: 123px;
}

body.ext-ie6 { text-align: center; }

#page #outerHeader #header,
#page #outerContent #content,
#page #outerFooter #footer { margin: 0px auto; text-align: left; }


#page #outerContent { background: var(light); }
#page #outerContent #content { padding: 0px 0px 0px 0px; }
#page #outerContent #content #innerContent {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#page #outerFooter #footer { padding: 15px; height: 20px; position: relative; }

.webListNone ul { margin: 0px; }
.webListNone,
.webListNone li { margin-bottom: 0px; }

.webForm input,
.webForm textarea,
.webForm label,
.webForm button,
.webForm select {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: var(typo);
    line-height: 18px;
}

.webForm label { text-align: left; }
.webForm .submitWrapper { margin: 10px 0px 10px 140px; }
.webForm button {
    color: var(light);
    background: none !important;
    border: none !important;
    width: 100%;
    height: 100%;
}
.webForm button:hover { color: var(light); }

.webForm .beforeButton,
.webForm .afterButton {
    display: block;
    float: left;
    width: 0px;
    height: 27px;
}
.webForm .button {
    float: left;
    height: 30px;
    line-height: 30px;
    background-color: #085AC0;
    background-image: none;
}
