@import "config/colors";
@import "kwc-susy/master-layout-helper";

@include set-master-layout(default);

.kwfLocal {
    padding: 15px 25px 10px 25px;
    box-sizing: border-box;

    &__talks {
        display: none;
        &.kwfLocal__talks--show {
            display: block;
        }
    }
    &__toggleTalks {
        text-decoration: underline;
        cursor: pointer;
    }
}
