.kwcClass .talks {
    padding: 0;
    padding-top: 10px;
}

.kwcClass .talks .talk {
    vertical-align: top;
}

.kwcClass .talks .talk td {
    padding-right: 3px;
}

ul.category {
    margin: 5px 0;
    padding-left: 20px;
}