.cssClass.kwcForm {
    display: table;
    margin: auto;
}

.cssClass.kwcForm .kwcForm .submitWrapper {
    margin: auto;
    display: table;
    padding-top: 10px;
    .button {
        background-color: #085AC0;
        background-image: none;
        height: 30px;
        line-height: 30px;
    }
}
