@import "kwc-susy/master-layout-helper";
@import "config/colors";

@include set-master-layout(default);

.kwcClass {
    background-color: #085ac0;
    .logo {
        padding: 5px;
        display: block;
        background-color: #fff;
        color: #085ac0;
        font-weight: bold;
    }
    .mobileTitle {
        position: relative;
        padding: 5px;
        font-size: 20px;
        &.open {
            border-bottom-color: #186ad0;
            border-bottom-style: solid;
            border-bottom-width: 2px;
        }

        .logo, .title {
            display: table-cell;
        }
        .title {
            width: 100%;
            color: #fff;
            font-weight: bold;
            padding-left: 10px;
        }
        .logout {
            height: 100%;
            display: block;
            width: 40px;
            top: 0;
            right: 0;
            position: absolute;
            background-color: #D01818;
            .icon {
                display: table;
                margin: auto;
                margin-top: 7px;
            }
        }
        .languages {
            background-color: #fff;
            position: absolute;
            top: 0;
            right: 40px;
            display: block;
            height: 100%;
            width: 45px;
            .icon {
                display: table;
                margin: auto;
                margin-top: 5px;
            }
        }
    }
}
