.cssClass {
    -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
    background-color: #eee;
    padding: 5px;
    &:hover {
        box-shadow: 0px 3px 3px #888;
    }

    .name {
        float: left;
        margin-right: 3px;
    }
    .degree {
        float: left;
        color: #999999;
    }
    .congregation {
        clear: left;
        .circle:after {
            content: "\00BB";
            margin-left: 2px;
            margin-right: 2px;
        }
    }
    table.talks tr td {
        vertical-align: top;
        padding-right: 3px;
        margin-bottom: 3px;
    }
}
