.kwcClass.kwfUp-kwcForm {
    .kwfUp-formContainer form {
        .kwfUp-form_deleted, .kwfUp-form_inactive, .kwfUp-form_has_beard {
            label {
                float: left;
            }
            .kwfUp-kwfFormFieldWrapper {
                input {
                    margin-left: 5px;
                    width: 20px !important;
                }
            }
        }
    }
}
