div.kwfUp-kwcForm .kwfUp-formContainer form .kwfUp-formsSpeakerFieldSuperBoxSelect {
    .selectedValues {
        .selectedValue {
            margin-left: 2px;
            text-align: right;
            padding: 3px;
            display: inline-block;
            &:hover {
                background-color: #085ac0;
                color: #fff;
                .remove {
                    color: #F17F08;
                }
            }
            .remove {
                color: #085ac0;
                margin-left: 2px;
                cursor: pointer;
            }
        }
        .languageBlock {
            clear: both;
            margin-left: 10px;
        }
    }
    .addValue {
        clear: both;
        padding-top: 3px;
        .newValue {
            width: auto !important;
        }
        select.newValueSelect {
            width: 95px !important;
            height: 26px;
        }
        button {
            background-color: #085ac0;
            color: #fff;
            cursor: pointer;
            text-align: center;
            margin: 0;
            padding: 0;
            display: inline-block;
            line-height: 26px;
            height: 26px;
            width: 22px;
        }
    }
}
