@import "config/colors";
@import "kwc-susy/master-layout-helper";
@import "compass/utilities/general/clearfix";
@import "config/default-loading-animation-big";

@include set-master-layout(default);

.kwfLocal {
    margin-top: 20px;

    &__count {
        margin: auto;
        display: table;
        font-size: 25px;
    }

    &--loading {
        @include default-loading-animation-big;
    }

    &__more {
        display: table;
        margin: auto;
        padding: 5px 10px;
        color: #fff;
        background-color: #085AC0;
        cursor: pointer;

        &--loading {
            cursor: auto;
            @include default-loading-animation-big;
            display: table !important;
            margin: auto !important;
            position: inherit !important;
        }
    }

    &__speakers {
        margin-top: 15px;
        margin-bottom: 20px;
        @include pie-clearfix;
    }

    .SearchResultsSpeaker {
        &:hover {
            box-shadow: 0px 3px 3px #888888;
        }
    }

    @include kwf-breakpoint(md) {
        .SearchResultsSpeaker {
            width: 50%;
            float: left;
            &:nth-child(2n+1) {
                clear: both;
            }

        }
    }
}
