@import "compass/utilities/general/clearfix";

.kwcClass {
    margin: auto;
}

.kwcClass ul {
    @include pie-clearfix;
    li {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }
}
