.cssClass .circles {
    margin-top: 10px;
    padding: 0px;
}

.cssClass .circles .circle-group {
    width: 50%;
    float: left;
}

.cssClass .circles .circle-group .container {
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 5px;
}

.cssClass .circles .circle-group .container .circle-group-name {
    font-weight: bold;
}

.cssClass .circles.st480 .circle-group {
    width: 100%;
}

.cssClass .circles.gt800 .circle-group {
    width: 33.3%;
}
