.cssClass.st480 .menu {
    display: none;
}
.cssClass.st480 {
    height: 0px;
}
.cssClass {
    height: 62px;
}
.cssClass ul li { margin-bottom: 0px; margin-left: 0px; float: left; width: 50%;}
.cssClass ul li a {
    background-color: #4C97CC;
    display: block;
    height: 62px;
    line-height: 62px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-left-style: dotted;
    border-left-width: 1px;
    border-left-color: #fff;
    color: #fff;
}
.cssClass ul li a:hover {
    background-color: #2673D9;
    color: #fff;
}
.cssClass ul li.current a {
    text-transform: uppercase;
}
.cssClass ul li.first a {
    border-left-style: none;
    border-left-width: 0px;
    margin-left: 1px;
}
