.cssClass {
    h1 {
        margin-bottom: 10px;
    }
    .downloadPdf {
        float: right;
    }

    .circle {
        margin-bottom: 5px;
        .label {
            margin-right: 3px;
        }
    }

    .congregation-info {
        padding-bottom: 30px;
        .time .talk-time, .address {
            font-weight: bold;
            font-size: 15px;
        }
        .time {
            margin-bottom: 10px;
        }
    }

    .note {
        clear: both;
        font-style: italic;
        padding-top: 5px;
    }

    .coordinator, .talk-organiser {
        margin-bottom: 20px;
    }
    &.gt400 {
        .coordinator, .talk-organiser {
            width: 50%;
            float: left;
        }
    }
}

.cssClass .congregation-info {
    .address {
        .street, .zip, .city {
            float: left;
        }
        .zip, .city {
            margin-right: 2px;
        }
        .city:after {
            content: ",";
        }
        .street:after {
            content: ",";
            margin-right: 2px;
        }
        .country {
            float: left;
        }
    }
}

.cssClass.st480 .coordinator,
.cssClass.st480 .talk-organiser {
    width: 100%;
    float: none;
}
.cssClass.st480 .talk-organiser {
    margin-top: 5px;
}

.cssClass .speakers-list .speakers .speaker {
    margin-bottom: 20px;
}

.cssClass .coordinator .name,
.cssClass .talk-organiser .name,
.cssClass .speakers-list .speakers .speaker .name {
    float: left;
    margin-right: 3px;
}

.cssClass .coordinator .degree,
.cssClass .talk-organiser .degree,
.cssClass .speakers-list .speakers .speaker .degree {
    float: left;
    color: #999999;
}

.cssClass .coordinator .phone,
.cssClass .talk-organiser .phone,
.cssClass .speakers-list .speakers .speaker .phone {
    clear: left;
}

.cssClass .speakers-list .speakers .speaker .name {
    font-weight: bold;
    font-size: 15px;
}

.cssClass .speakers-list .speakers .speaker .talks {
    padding: 5px;
}

.cssClass .speakers-list .speakers .speaker table.talks tr td {
    vertical-align: top;
    padding-right: 3px;
    margin-bottom: 3px;
}
