.cssClass {
}

.cssClass h1 {
    margin-bottom: 10px;
}

.cssClass .congregation-info {
    margin-bottom: 20px;
    .time .talk-time, .address {
        font-weight: bold;
        font-size: 15px;
    }
}

.cssClass .circle {
    margin-bottom: 5px;
}

.cssClass .coordinator,
.cssClass .talk-organiser {
    width: 50%;
    float: left;
}

.cssClass.st480 .coordinator,
.cssClass.st480 .talk-organiser {
    width: 100%;
    float: none;
}
.cssClass.st480 .talk-organiser {
    margin-top: 5px;
}

.cssClass .speakers-list .speakers .speaker {
    margin-bottom: 20px;
}

.cssClass .coordinator .name,
.cssClass .talk-organiser .name,
.cssClass .speakers-list .speakers .speaker .name {
    float: left;
    margin-right: 3px;
}

.cssClass .coordinator .degree,
.cssClass .talk-organiser .degree,
.cssClass .speakers-list .speakers .speaker .degree {
    float: left;
    color: #999999;
}

.cssClass .coordinator .phone,
.cssClass .talk-organiser .phone,
.cssClass .speakers-list .speakers .speaker .phone {
    clear: left;
}

.cssClass .congregation-info .address .street,
.cssClass .coordinator .address .street,
.cssClass .talk-organiser .address .street,
.cssClass .congregation-info .address .zip,
.cssClass .coordinator .address .zip,
.cssClass .talk-organiser .address .zip,
.cssClass .congregation-info .address .city,
.cssClass .coordinator .address .city,
.cssClass .talk-organiser .address .city {
    float: left;
}

.cssClass .congregation-info .address .zip,
.cssClass .coordinator .address .zip,
.cssClass .talk-organiser .address .zip,
.cssClass .congregation-info .address .city,
.cssClass .coordinator .address .city,
.cssClass .talk-organiser .address .city {
    margin-right: 2px;
}

.cssClass .congregation-info .address .city:after,
.cssClass .coordinator .address .city:after,
.cssClass .talk-organiser .address .city:after {
    content: ",";
}

.cssClass .congregation-info .address .street:after,
.cssClass .coordinator .address .street:after,
.cssClass .talk-organiser .address .street:after {
    content: ",";
    margin-right: 2px;
}

.cssClass .congregation-info .address .country,
.cssClass .coordinator .address .country,
.cssClass .talk-organiser .address .country {
    float: left;
}

.cssClass .speakers-list {
    margin-top: 20px;
}

.cssClass .speakers-list .speakers .speaker .name {
    font-weight: bold;
    font-size: 15px;
}

.cssClass .speakers-list .speakers .speaker .talks {
    padding: 5px;
}

.cssClass .speakers-list .speakers .speaker table.talks tr td {
    vertical-align: top;
    padding-right: 3px;
    margin-bottom: 3px;
}
