.cssClass {
    -webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
    transition: height 0.5s;
    overflow: hidden;
    height: 0;
    background-color: #fff;
    > a {
        width: 50%;
        float: left;
        height: 100%;
        font-size: 18px;
        text-align: center;
        line-height: 35px;
    }
    &.shown {
        height: 35px;
    }
}
